$sidenav-padding-y: 6px;
$sidenav-padding-x: 15px;

ul.sidenav {
  padding: 0;

  .sidenav__item {
    list-style-type: none;
  }

  .sidenav__link {
    color: $gray-700;

    &:hover { color: $primary; }
  }

  // First level
  & > .sidenav__item > .sidenav__link {
    display: block;
    padding: $sidenav-padding-y $sidenav-padding-x $sidenav-padding-y 0;

    &.sidenav__link--active {
      position: relative;
      // background: $primary;
      // color: #fff;
      // color: $primary;
      border-radius: 0 99px 99px 0;

      &::before {
        content: '';
        position: absolute;
        background: $primary;
        top: 0;
        right: 106%;
        width: 3px;
        height: 100%;
        border-radius: 10px;
      }
      // &::before {
      //   content: '';
      //   position: absolute;
      //   background: $primary;
      //   top: 0;
      //   right: 100%;
      //   width: 200%;
      //   height: 100%;
      // }
    }
  }

  // Next level
  .sidenav__item ul {
    padding: 10px 0 10px 0;
    // padding: 10px 0 10px $sidenav-padding-x;

    .sidenav__item {
      .sidenav__link {
        display: inline-block;
        padding: 2px 0;
        font-size: $font-size-sm;
        color: $gray-500;

        &.sidenav__link--active {
          color: $primary;
        }
      }
    }
  }
}
